{% extends "base/base.html" %}
{% block titulo %}Logout{% endblock %}
{% block corpo %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="mb-4">Logout</h2>
                <p>Você foi desconectado com sucesso.</p>
                <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
                <a href="{{ url_for('index') }}" class="btn btn-secondary">Voltar</a>
            </div>
        </div>
    </div>
{% endblock %}