{% extends "base/base.html" %}
{% block titulo %}Sobre nós{% endblock %}}
{%block corpo %} 
<div class="container">
    <h1>Sobre Nós</h1>
    <p>Somos uma equipe apaixonada por [sua área de atuação]. Nossa missão é [sua missão].</p>
    <p>Nossa história começou em [data de início] quando [motivo do início]. Desde então, temos trabalhado incansavelmente para [seus objetivos].</p>
    <p>Acreditamos em [seus valores] e nos esforçamos para [como você demonstra seus valores].</p>
    <h2>Nossa Equipe</h2>
    <ul>
        <li>[Nome do membro 1] - [Cargo]</li>
        <li>[Nome do membro 2] - [Cargo]</li>
        <li>[Nome do membro 3] - [Cargo]</li>
    </ul>
    <p>Entre em contato conosco em [seu email] ou [seu telefone].</p>
</div>
{% endblock %}


